!!!
%html
  %head
    %title SNES ROM converter: smc to sfc
    %link{:href => 'http://fonts.googleapis.com/css?family=Press+Start+2P', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Droid+Sans+Mono', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/styles.css'}
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
    %script{:src => '/javascripts/application.js'}
  %body
    %h1 SNES ROM converter
    %h2 smc to sfc
    %form{:action => '/convert', :method => 'post', :enctype => 'multipart/form-data'}
      %input{:type => 'file', :name => 'upfile', :id => 'rom-file'}
      %input{:type => 'submit', :value => 'Convert!', :id => 'rom-submit', :class => 'myButton'}
    =styled_flash
    %div{:id => 'error'}
    %div{:id => 'info'}
      %span{:id => 'name'}
      %span{:id => 'license'}
      %span{:id => 'country'}
      %span{:id => 'video'}
      %span{:id => 'version'}
    %div{:id => 'labels'}
      %span Name:
      %span License:
      %span Region:
      %span Video:
      %span Version:
